log
logs
bin
ontology_summarization.jar
tmp
organized-splitted-deduplicated
.metadata
RemoteSystemsTempFiles
summarization-web.jar
!solr/bin
solr/server/solr/configsets/basic_configs/index/
solr/bin/solr-8886.pid
solr/server/solr/configsets/basic_configs/tlog/
