log
bin
ontology_summarization.jar
tmp
organized-splitted-deduplicated
.metadata
RemoteSystemsTempFiles
summarization-output/.classpath
summarization-output/.gitignore
summarization-output/.project
summarization-output/.settings/org.eclipse.jdt.core.prefs
summarization-output/.settings/org.eclipse.m2e.core.prefs
temp/relationCount.csv
temp/relationCount.nt
temp/relationCount.rdf
temp/MinTypes/Data_For_Computation/Concepts.txt
temp/MinTypes/Data_For_Computation/EquConcepts.txt
temp/MinTypes/Data_For_Computation/path.txt
temp/MinTypes/Min_Type_Results/%_countConcepts.txt
temp/MinTypes/Min_Type_Results/%_minType.txt
temp/MinTypes/Min_Type_Results/__countConcepts.txt
temp/MinTypes/Min_Type_Results/__minType.txt
temp/MinTypes/Min_Type_Results/a_countConcepts.txt
temp/MinTypes/Min_Type_Results/a_minType.txt
temp/MinTypes/Min_Type_Results/b_countConcepts.txt
temp/MinTypes/Min_Type_Results/b_minType.txt
temp/MinTypes/Min_Type_Results/c_countConcepts.txt
temp/MinTypes/Min_Type_Results/c_minType.txt
temp/MinTypes/Min_Type_Results/d_countConcepts.txt
temp/MinTypes/Min_Type_Results/d_minType.txt
temp/MinTypes/Min_Type_Results/e_countConcepts.txt
temp/MinTypes/Min_Type_Results/e_minType.txt
temp/MinTypes/Min_Type_Results/f_countConcepts.txt
temp/MinTypes/Min_Type_Results/f_minType.txt
temp/MinTypes/Min_Type_Results/g_countConcepts.txt
temp/MinTypes/Min_Type_Results/g_minType.txt
temp/MinTypes/Min_Type_Results/h_countConcepts.txt
temp/MinTypes/Min_Type_Results/h_minType.txt
temp/MinTypes/Min_Type_Results/i_countConcepts.txt
temp/MinTypes/Min_Type_Results/i_minType.txt
temp/MinTypes/Min_Type_Results/j_countConcepts.txt
temp/MinTypes/Min_Type_Results/j_minType.txt
temp/MinTypes/Min_Type_Results/k_countConcepts.txt
temp/MinTypes/Min_Type_Results/k_minType.txt
temp/MinTypes/Min_Type_Results/l_countConcepts.txt
temp/MinTypes/Min_Type_Results/l_minType.txt
temp/MinTypes/Min_Type_Results/m_countConcepts.txt
temp/MinTypes/Min_Type_Results/m_minType.txt
temp/MinTypes/Min_Type_Results/n_countConcepts.txt
temp/MinTypes/Min_Type_Results/n_minType.txt
temp/MinTypes/Min_Type_Results/newConcepts.txt
temp/MinTypes/Min_Type_Results/o_countConcepts.txt
temp/MinTypes/Min_Type_Results/o_minType.txt
temp/MinTypes/Min_Type_Results/others_countConcepts.txt
temp/MinTypes/Min_Type_Results/others_minType.txt
temp/MinTypes/Min_Type_Results/p_countConcepts.txt
temp/MinTypes/Min_Type_Results/p_minType.txt
temp/MinTypes/Min_Type_Results/q_countConcepts.txt
temp/MinTypes/Min_Type_Results/q_minType.txt
temp/MinTypes/Min_Type_Results/r_countConcepts.txt
temp/MinTypes/Min_Type_Results/r_minType.txt
temp/MinTypes/Min_Type_Results/s_countConcepts.txt
temp/MinTypes/Min_Type_Results/s_minType.txt
temp/MinTypes/Min_Type_Results/t_countConcepts.txt
temp/MinTypes/Min_Type_Results/t_minType.txt
temp/MinTypes/Min_Type_Results/u_countConcepts.txt
temp/MinTypes/Min_Type_Results/u_minType.txt
temp/MinTypes/Min_Type_Results/uknHierConcept.txt
temp/MinTypes/Min_Type_Results/v_countConcepts.txt
temp/MinTypes/Min_Type_Results/v_minType.txt
temp/MinTypes/Min_Type_Results/w_countConcepts.txt
temp/MinTypes/Min_Type_Results/w_minType.txt
temp/MinTypes/Min_Type_Results/x_countConcepts.txt
temp/MinTypes/Min_Type_Results/x_minType.txt
temp/MinTypes/Min_Type_Results/y_countConcepts.txt
temp/MinTypes/Min_Type_Results/y_minType.txt
temp/MinTypes/Min_Type_Results/z_countConcepts.txt
temp/MinTypes/Min_Type_Results/z_minType.txt
temp/Patterns/Data_For_Computation/DR.txt
temp/Patterns/Data_For_Computation/DTProperties.txt
temp/Patterns/Data_For_Computation/EquProperties.txt
temp/Patterns/Data_For_Computation/Properties.txt
temp/Patterns/Dt_Patterns/concPropDTOBJ.txt
temp/Patterns/Dt_Patterns/concPropDTSUBJ.txt
temp/Patterns/Dt_Patterns/countClassDTOBJ.txt
temp/Patterns/Dt_Patterns/countClassDTSUBJ.txt
temp/Patterns/Dt_Patterns/countDataType.txt
temp/Patterns/Dt_Patterns/countDTOBJ.txt
temp/Patterns/Dt_Patterns/countDTSUBJ.txt
temp/Patterns/Dt_Patterns/newDTProperties.txt
temp/Patterns/Dt_Patterns/relationDTCount.txt
temp/Patterns/Obj_Patterns/concPropOBJ.txt
temp/Patterns/Obj_Patterns/concPropSUBJ.txt
temp/Patterns/Obj_Patterns/countClassOBJ.txt
temp/Patterns/Obj_Patterns/countClassSUBJ.txt
temp/Patterns/Obj_Patterns/countConcepts.rdf
temp/Patterns/Obj_Patterns/countConcepts.txt
temp/Patterns/Obj_Patterns/countOBJ.txt
temp/Patterns/Obj_Patterns/countProp.txt
temp/Patterns/Obj_Patterns/countSUBJ.txt
temp/Patterns/Obj_Patterns/newObjProperties.txt
temp/Patterns/Obj_Patterns/relationCount.txt
summarization/.countConcepts.nt
summarization/output/countConcepts.nt
summarization/output/countProp.nt
temp/Patterns/Obj_Patterns/countProp.nt
