<!DOCTYPE HTML>
<!--Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)-->
<html>
	<head>
		<title>ABSTAT</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="static/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="static/css/ie9.css" /><![endif]-->
	</head>
	<body>
	<section id="banner">
		<h2><strong>ABSTAT</strong></h2>
		<p>Linked Data Summarization with <strong>AB</strong>straction and <strong>STAT</strong>istics</p>
		<ul class="actions">
			<li><a href="#one" class="button special">Get started</a></li>
		</ul>
	</section>

	<section id="one" class="wrapper special">
		<div class="inner">
			<header class="major">
				<h2>Understand Big Linked Data sets with <strong>abstat</strong></h2>
				<p>explore knowledge patterns found in the data</p>
			</header>
			<div class="features">
				<div class="feature">
					<a href="/browse"><i class="fa fa-diamond"></i></a>
					<h3>Browse</h3>
				</div>
				<div class="feature">
					<a href="/search"><i class="fa fa-diamond"></i></a>
					<h3>Search</h3>
				</div>
				<div class="feature">
					<a href="/sparql"><i class="fa fa-diamond"></i></a>
					<h3>Query</h3>
				</div>
			</div>
		</div>
	</section>

	<footer id="footer">
		<div class="copyright">
			&copy; University of Milano-Bicocca. Design by: <a href="http://templated.co/">TEMPLATED</a>.
		</div>
	</footer>

	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>

	</body>
</html>