<!DOCTYPE HTML>
<html lang="en" ng-app="schemasummaries">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="assets/js/ui-bootstrap-tpls-0.12.1.min.js"></script>
	<script src="assets/js/controllers.js"></script>
	<title>Schema Summaries</title>
</head>
<body>
	<div class="container-fluid">
		<div class="page-header">
			<h1>Schema Summaries</h1>
		</div>
		<div ng-controller="Summarization">
			<div class="row">
			<div class="col-md-12">
			<form class="form-inline">
			<div class="form-group">
				<select id="dataset" ng-model="selected_graph" class="form-control">
					<option>Select a dataset</option>
				    <option ng-repeat="graph in graphs">{{graph.uri.value}}</option>
				</select>
				<button type="submit" ng-click='loadPatterns()' class="btn btn-primary">View</button>
			</div>
			</form>
			</div>
			</div>
			
			<div ng-show="graph_was_selected">
			<div style="margin-top:1cm" class="row">
			<div class="col-md-12">
			<h3>Abstract Knowledge Patterns</h3>
			</div>
			</div>
			
			<div style="margin-top:0.5cm" class="row">
				<div class="col-md-1" style="color: white"><strong>Browse</strong></div>
				<div class="col-md-3">
				<input type="text" typeahead="subject for subject in autocomplete.subject | filter:$viewValue | limitTo:7" ng-model="subject" class="form-control" placeholder="Subject">
				</div>
				
				<div class="col-md-2">
				<input type="text" typeahead="predicate for predicate in autocomplete.predicate | filter:$viewValue | limitTo:7" ng-model="predicate" class="form-control" placeholder="Predicate">
				</div>
				
				<div class="col-md-3">
				<input type="text" typeahead="object for object in autocomplete.object | filter:$viewValue | limitTo:7" ng-model="object" class="form-control" placeholder="Object">
				</div>
				
				<div class="col-md-1">
				<button type="submit" ng-click='filterPatterns()' class="btn btn-primary">Filter</button>
				</div>
			</div>
			
			<div style="margin-top:0.5cm" class="row">
				<div class="col-md-1 text-center"><strong>Browse</strong></div>
				<div class="col-md-3"><strong>Subject</strong></div>
				<div class="col-md-2"><strong>Predicate</strong></div>
				<div class="col-md-3"><strong>Object</strong></div>
				<div class="col-md-1"><strong>Frequency</strong></div>
				<div class="col-md-1"><strong>Score 1</strong></div>
				<div class="col-md-1"><strong>Score 2</strong></div>
			</div>
			
			<div style="margin-top:0.25cm" class="row" ng-repeat="summary in summaries">
				<div class="col-md-1 text-center"><a target="_blank" href="{{describe_uri}}{{summary.pattern.value}}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></div>
				<div class="col-md-3"><a target="_blank" href="{{describe_uri}}{{summary.subject.value}}">{{summary.subject.value}}</a></div>
				<div class="col-md-2"><a target="_blank" href="{{describe_uri}}{{summary.predicate.value}}">{{summary.predicate.value}}</a></div>
				<div class="col-md-3"><a target="_blank" href="{{describe_uri}}{{summary.object.value}}">{{summary.object.value}}</a></div>
				<div class="col-md-1">{{summary.frequency.value}}</div>
				<div class="col-md-1">0</div>
				<div class="col-md-1">0</div>
			</div>
			</div>
		</div>
	</div>
</body>
</html>