<!DOCTYPE HTML>
<html lang="en" ng-app="schemasummaries">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="assets/js/ui-bootstrap-tpls-0.12.1.min.js"></script>
	<script src="assets/js/controllers.js"></script>
	<title>Schema Summaries</title>
</head>
<body>
	<div class="container-fluid">
		<div class="page-header">
			<h1>Schema Summaries</h1>
		</div>
		<div ng-controller="Summarization">
			<div class="row">
			<div class="col-md-12">
			<form class="form-inline">
			<div class="form-group">
				<select id="dataset" ng-model="selected_graph" class="form-control">
					<option>Select a dataset</option>
				    <option ng-repeat="graph in graphs">{{graph.uri.value}}</option>
				</select>
				<button type="submit" ng-click='loadTopFrequentPatterns()' class="btn btn-primary">View</button>
			</div>
			</form>
			</div>
			</div>
			
			<div ng-show="graph_was_selected">
			<div style="margin-top:1cm" class="row">
			<div class="col-md-12">
			<h3>Abstract Knowledge Patterns</h3>
			</div>
			</div>
			
			<div style="margin-top:0.5cm" class="row">
			<div class="col-md-12">
			<form class="form-inline">
				<input type="text" typeahead="pattern_subject for pattern_subject in pattern_subjects | filter:$viewValue | limitTo:7" ng-model="subject" class="form-control" placeholder="Subject">
				<input type="text" ng-model="predicate" class="form-control" placeholder="Predicate">
				<input type="text" ng-model="object" class="form-control" placeholder="Object">
				<button type="submit" ng-click='filterPatterns()' class="btn btn-primary">Filter</button>
			</form>
			</div>
			</div>
			
			<div style="margin-top:0.5cm" class="row">
			<div class="col-md-12">
			<table class="table table-hover">
				<thead>
					<tr>
					<th>Subject</th>
					<th>Predicate</th>
					<th>Object</th>
					<th>Frequency</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="summary in summaries">
						<td>{{summary.subject.value}}</td>
						<td>{{summary.predicate.value}}</td>
						<td>{{summary.object.value}}</td>
						<td>{{summary.frequency.value}}</td>
					</tr>
				</tbody>
			</table>
			</div>
			</div>
			</div>
		</div>
	</div>
</body>
</html>